#accordion {
    margin-top: 1rem;
}

.card {
    width: 50%;

    margin: 0 auto;
    margin-bottom: 10px;

    text-align: left;
}

.icon {
    position: absolute;
    right: 3%;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
}

.icon.rotated {
    position: absolute;
    transform: translateY(10%) rotate(-180deg);
    transform-origin: center;
}

.collapse {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.collapse.show {
    max-height: auto;
    opacity: 1;
    /* transform-origin: top; */
}

