#accordion {
    margin-top: 1rem;
}

.card {
    width: 50%;

    margin: 0 auto;
    margin-bottom: 10px;

    text-align: left;

}

.icon {
    position: absolute;
    right: 8px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.icon.rotated {
    transform: translateY(10%) rotate(180deg);
}